<div class = "online_exam">
    <input id="online_exam-dtl-form-flag" type="hidden" th:value="${from}">
    <div class="row"  th:if="${from != 'adminChgInfo'}">
        <h3 class="col-xs-12 text-primary text-center">考试内容</h3>
    </div>

<!-- 考试内容 -->
<div id = "online_exam-dtl-info-div">
    <div class="hidden">
        <form id="online_exam-headPhotoUploadForm" method="POST" enctype="multipart/form-data">
        </form>

        <a id="online_exam-confirm-dtl-link"></a>
    </div>

    <form id="online_exam-dtl-from" class="form-horizontal" method="post">
        <input name="id" type="hidden" th:value="${examApplyInfo?.id}">
        <div class="form-group">
            <label class="control-label col-xs-3 col-sm-2 col-sm-offset-1 required" for="examId">级别</label>
            <div class="col-xs-8 col-sm-6">
                <select class="form-control" id="examId"  name="examInfo.id"  owl:selectOp owl:enumList="${examList}" owl:require="'true'"  owl:defaultVal="${examApplyInfo?.examInfo?.id}" >
                    <option value="0">选项1</option>
                    <option value="1">选项2</option>
                </select>
            </div>
        </div>
        <div class="form-group text-center exam-apply-dtl-from-submitBtn-wrapper">
            <input id="online_exam-dtl-from-submitBtn" class="btn btn-primary btn-lg" type="button" value="提交"/>

        </div>
    </form>

</div>
</div>


<script type="text/javascript" th:inline="javascript">
		//加载css
		var css_url = [[@{/static/workspace/css/online-exam.css}]];
		comm_ui_loadCSS(css_url);
	</script>

<script th:src="@{/static/workspace/js/online_exam.js}"></script>

</div>